<div class="container">
  <a id="about">
  <div class="about">
    <div class="me-content">
      <h1>about me</h1>
      <hr>
        <p class="left-part">Lorem ipsum dolor sit amet, eos iusto consul at, ex vel nemore honestatis. Enim reque facilis ius ei. Cu vim cibo mundi dolorum. Dicta incorrupte ex usu, agam nullam invidunt vis in, magna legere ex pri. An mei saepe soluta repudiandae, ad sea copiosae corrumpit similique, suas elitr similique cu eos. Appareat percipit an pro, amet sale utroque no sea.
        </p>
        <p class="right-part">
        Nam labore option utamur id, te dicta tritani admodum mei. Postea option explicari an ius, eam choro sapientem id. Mel lorem senserit volutpat in, ad lucilius omittantur qui. Nam te labores alienum, et volumus hendrerit qui. Eam ad hinc nostrud, molestie electram te nam.

        </p>
    </div>
    <div class="tools-content">
          <h2>tools</h2>
          <hr>
          <div class="left-part">
            <h3>linux/ubuntu</h3>
            <p>main development platform</p>
            <h3>Ruby on rails</h3>
            <p>this homepage was built with ruby on rails as are many of my web apps on github</p>
            <h3>javascript/jquery</h3>
            <p>carousel built with jquery plugin slick.  Responsive navbar made with javascript.</p>
            <h3>gitub</h3>
            <p>main version control platform.  used for all of my projects.</p>

          </div>
          <div class="right-part">
            <h3>heroku</h3>
            <p>host to many of my rails projects</p>
            <h3>html5/css3</h3>
            <p>this homepage was built with the latest web standards.</p>
            <h3>postgresql/mysql/sqlite</h3>
            <p>sqlite3 is used to power this homepage.</p>
          </div>
        </div>
      </div>
    </div>
