<div class="container">
<div class="user-form">
    <h1>contact</h1>
    <hr>
    <form action="#" method="post">
      <div class="field">
        <label hidden for="name">Name:</label>
        <input type="text" id="name" name="user_name" placeholder="Your name?"/>
      </div>
      <div class="field">
        <label hidden for="mail">Email:</label>
        <input type="email" id="mail" name="user_mail" placeholder="Your email?" />
      </div>
      <div class="field">
        <label hidden for="msg">Message:</label>
        <textarea id="msg" name="user_message" placeholder="what would you like to say?"></textarea>
      </div>
      <div class="actions">
        <button type="submit">send</button>
      </div>
    </form>
  </div>
</div>
