<div class="container blue-wrapper">
    <div class="jumbotron">
      <div class="slider">
        <div class="slide">
          <div class="caption">
            <ul>
              <li>Taylor Creek, TO</li>
              <li>September 5, 2016</li>
              <li>LG G4 H812</li>
            </ul>
          </div>
          <%= image_tag "TCbridge.jpg" %>
        </div>
        <div class="slide">
          <div class="caption">
            <ul>
              <li>CNE, Star Trek EX., TO</li>
              <li>Aug 29, 2016</li>
              <li>LG G4 H812</li>
            </ul>
          </div>
          <%= image_tag "STEX.jpg" %>
        </div>
        <div class="slide">
          <div class="caption">
            <ul>
              <li>Warden Woods, TO</li>
              <li>September 05, 2016</li>
              <li>LG G4 H812</li>
            </ul>
          </div>
          <%= image_tag "wardenwoods.jpg" %>
        </div>
        <div class="slide">
          <div class="caption">
            <ul>
              <li>Don Valley Trail, TO</li>
              <li>September 05, 2016</li>
              <li>LG G4 H812</li>
            </ul>
          </div>
          <%= image_tag "donvalleytrail.jpg" %>
        </div>
      </div>
      <div class="headline">
        <h2>fullstack developer - super nerd - life enthusiast</h2>
      </div>
  </div>
</div>
