<div class="container">
  <div class="portfolio">
    <h1>portfolio</h1>
    <hr>

    <p>
      Listed below are my best pieces of work
      that highlight my current web development skill set.
      Please take your time and browse around!
      All of my work can be found at my <a href="https://github.com/slowmanchan/">github</a> page
    </p>

    <ul>
      <div class="grid"><li></li></div>
      <div class="grid"><li></li></div>
      <div class="grid"><li></li></div>
      <div class="grid"><li></li></div>
    </ul>
  </div>
</div>
