<div class="portfolio">
  <h1>portfolio</h1>
  <hr>
  <ul>
    <div class="grid"><li></li></div>
    <div class="grid"><li></li></div>
    <div class="grid"><li></li></div>
    <div class="grid"><li></li></div>
  </ul>
</div>
