<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Feedback</h1>
  <p>Email: <%= @contact.email %></p>
  <p>Fullname: <%= @contact.first_name %> <%= @contact.last_name %></p>
  <p><%= @contact.body %></p>
</body>
</html>
