<header class="main-nav-bar nav-bar">
  <ul>
    <div id="logo">
      <a href="#"><li>norman chan</li></a>
    </div>
    <div id="right-side-items">
      <li><a href="#portfolio" id="homenav">portfolio</a></li>
          <li><a href="#about" id="homenav">about</a></li>
          <li><a href="#blog" id="homenav">blog</a></li>
          <li><a href="#contact" id="homenav">contact</a></li>
        <li id="emphasis"><a href="#">resume</a></li>
    </div>
  </ul>
</header>
