<div class="container light-blue-wrapper">
  <div class="wrapper">


  <% @posts.each do |post| %>

    <div class="post-wrapper">
      <p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
      <h1><%= link_to post.title, post %></h1>
      <div class="body">
        <p ><%= truncate post.body, length: 500 %></p>
        <br>
        <%= link_to '(more...)', post %>
      </div>
      <hr>
    </div>

  <% end %>
 </div>
</div>
