@import 'colors';

/* main site header */
.main-nav-bar {
  width: 100%;
  height: 100px;
  padding: 15px 70px;
  background-color:  $indigo;
  font-size: 100%;
  font-weight: 800;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: height 0.3s;
  & #right-side-items li {
    line-height: 75px;
    padding: 0 20px;
    float: left;
    transition: all 0.3s;
  }
}
#logo{
  display: inline-block
}
#logo li a {
  font-family: 'Lobster', sans-serif;
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 800px;
  float: left;

}
#emphasis {
background:  $dark-orange;
}
#right-side-items {
  float: right;
}
/* scroll header resize */
.smaller {
  padding: 10px 20px;
  height: 55px;
}
.smaller #logo li{
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}
.smaller #right-side-items  {
  height: 35px;
}
.smaller #right-side-items li {
  line-height: 35px;
}
