@import 'colors';

.wrapper {
  width: 60%;
  margin: 50px auto;
}
.post-wrapper {
  margin: 50px;
  a {
    color: $dark-grey;
  }
  h1 {
    font-family: 'Raleway', sans-serif !important;
    margin-bottom: 50px;
    text-align: center;
    font-size: 420%;
    font-weight: 900;
    color: $dark-grey;
  }
  h2 {
    text-align: center;
  }
}


.post-wrapper .date {
  text-align: center;
  text-transform: uppercase;
  color: hsl(0, 0%, 40%);
}
.post-wrapper .body {
  font-size: 130%;
  background-color: white;
  padding: 50px 70px;
  border-radius: 7px;
}
#comments h1 {
  margin-left: 60px;
}
.comment-form {
  padding: 30px 60px;
  input {
    width: 60%;
    height: 50px;
    margin-bottom: 20px;
  }
  textarea {
    width: 70%;
    height: 200px;
    margin-bottom: 20px;
  }
  [type=submit] {
    border-radius: 5px;
    border: none;
    background-color:  $dark-orange;
    color: white;
    width: 30%;
    font-weight: 800;
    transition: all 0.3s;
    &:hover {
        background-color: #e65100;
    }
  }
}
