// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  width: 50%;
  margin: 50px auto;
}
.post-wrapper {

  margin: 50px;
}
.post-wrapper h1  {
  text-align: center;
  margin: 50px 0;
}
.post-wrapper a {
  font-family: 'Raleway', sans-serif !important;
  font-size: 220%;
  font-weight: 900;
  text-decoration: none;
  color: hsl(0, 0%, 30%);
}
