// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 100%;
  margin: auto;
  background-color:  #2196f3;
  overflow: auto;
}
/* main site header */
.main-nav-bar {
  width: 100%;
  height: 150px;
  padding: 35px 70px;
  background-color:  #2196f3;
  font-size: 100%;
  font-weight: 800;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: heigh 0.3s;
}
.main-nav-bar ul {
  overflow: auto;
  list-style: none;
}
.main-nav-bar li {
  line-height: 75px;
  padding: 0 20px;
  float: left;
  transition: all 0.3s;
}
#logo li a {
  font-size: 40px;
  font-weight: 800px;
  float: left;
  transition: all 0.3s;
}
#logo li a:hover {
  color: #0d47a1;
}
#emphasis {
background:  #f44336;
}
#right-side-items a:hover {
  color: #0d47a1;
}
#right-side-items {
  float: right;
}
/* scroll header resize */
.smaller {
  padding: 10px 20px;
  height: 50px;
}
.smaller #logo li{
  height: 40px;
  line-height: 40px;
  font-size: 30px;

}
.smaller #right-side-items  {
  height: 35px;
}
.smaller #right-side-items li {
  line-height: 35px;
}
/* slider carousel */
.slider {
  width: 550px;
  height: 330px;
  margin: auto;
}
.slider img {
  width: 100%;
  height: 320px;
  margin: auto;
  border: 5px solid white;
  border-radius: 5px;
  margin-bottom: 40px;
}
.caption {
  font-size: 60%;
  opacity: 0.6;
  position: absolute;
  bottom: 50px;
  right: 10px;
  color: hsl(0, 0%, 80%);
  background-color: black;
  height: 20%;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 2px;
  text-align: left;
  line-height: 170%;
}
.caption ul {
  list-style: none;
}
/* jumbotron */
.jumbotron {
  width: 50%;
  padding: 150px 0 100px 0;
  margin:  auto;
  text-align: center;
}
.headline {
  margin-top: 60px;
  color: white;
  font-size: 120%;

}
hr {
  border: 2px solid white;
  border-radius: 200px;
  width: 180px;
  margin: 30px auto;
}
/* Portfolio and About section */

.portfolio, .about{
  line-height: 200%;

  color: hsl(0, 0%, 30%);
  width: 80%;
  margin: 100px auto;
}
.portfolio{
  margin-top: 200px;
}
.portfolio h1, .about h1{
  margin-top: 60px;
  text-align: center;
}
.portfolio hr, .contact hr{
  border-color: hsl(0, 0%, 30%);
  margin-bottom: 40px;
}
.portfolio ul {
  overflow: auto;
  list-style: none;
}
.portfolio div {
  width: 50%;
  height: 300px;
  border-radius: 5px;
  border: 1px solid black;
  float: left;
}
.grid li {
  border: 10px solid grey;
  height: 100%;
}
/* about section */
.about, .tools-content, .contact{
  overflow: auto;
  text-align: center;
  width: 80%;
  color: white;
  background-color: #2196f3
}
.about h1,  .tools-content h2{
  margin-top: 60px;
}
.me-content, .tools-content, .contact {
  color: white;
  width: 70%;
  margin: auto;
  overflow: auto;
}
.left-part, .right-part{
  text-align: justify;
  width: 50%;
  float: left;
  padding: 0 20px;
}

/* tools section */
.tools-content h3 {
  margin: 20px 0;
}


/* contact section */
.contact {
  width: 100%;
  background-color: white;
  color: hsl(0, 0%, 30%);

  margin-top: 200px;
}
.contact form {
  font-size: 150%;
  width: 70%;
  margin: 0 auto;
}
#name, #mail {
  height: 70px;
  width: 50%;
  float: left;
}
#msg {
  display: block;
  height: 200px;
  width: 100%;
  clear: both;
}
.submit-btn button{
  width: 111px;
  height: 70px;
  margin: 20px;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: #f44336;
  transition: all 0.3s;
}
.submit-btn button:hover {
  background-color: #b71c1c;
}
/* footer */
.main-footer {
  line-height: 100px;
  text-align: center;
  color: white;
  background-color: #0d47a1;
}
.social {
  background-color: #1565c0;
  height: 400px;
}
