@import 'colors';

.container {
  width: 100%;
  margin: 0 auto 0 auto;

  overflow: auto;
}
/* home page */
.blue-wrapper {
  background-color: $indigo;
  padding: 50px;
}
.light-blue-wrapper {
  background-color: $grey;
}
.light-purple-wrapper {
  background-color: $light-grey;
}

/* slider carousel */
.slider {
  width: 550px;
  height: 330px;
  margin: auto;
  img {
    width: 100%;
    height: 320px;
    margin: auto;
    border: 5px solid white;
    border-radius: 5px;
    margin-bottom: 40px;
  }
}
.caption {
  font-size: 60%;
  opacity: 0.6;
  position: absolute;
  bottom: 50px;
  right: 10px;
  color: $grey;
  background-color: black;
  height: 20%;
  padding: 10px;
  border: 1px solid $grey;
  border-radius: 2px;
  text-align: left;
  line-height: 170%;
}

/* jumbotron */
.jumbotron {
  width: 50%;
  padding: 0 0 100px 0;
  margin:  auto;
  text-align: center;
}
.headline {
  margin-top: 60px;
  color: white;
  font-size: 120%;
  h2 {
    text-transform: capitalize;
  }
}


/* Portfolio and About section */

.portfolio, .about{
  line-height: 200%;
  color: $dark-grey;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.portfolio h1, .about h1{
  margin-top: 60px;
  font-size: 400%;
  font-weight: 800;
  text-align: center;
}

.portfolio {
  div {
    width: 50%;
    height: 300px;
    border-radius: 5px;
    border: 1px solid black;
    float: left;
    margin-bottom: 50px;
  }
  p {
    width: 50%;
    margin: 0 auto 50px auto;
  }
}

.grid li {
  border: 10px solid grey;
  height: 100%;
}
/* about section */
.about, .tools-content{
  overflow: auto;
  text-align: center;
  width: 80%;
  color: $dark-grey;
}
.about img {
  margin-top: 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid $grey;
}
.about h1,  .tools-content h2{
  margin-top: 60px;
}
.me-content, .tools-content {
  width: 70%;
  margin: auto;
  overflow: auto;
  padding-bottom: 50px;
}
.col {
  width: 33.3333%;
  float: left;
  padding: 20px;
}

/* tools section */
.tools-content {
  h2 {
    font-size: 300%;
  }
  h3 {
    font-size: 200%;
    margin: 20px 0;
  }
  img {
    width: 100px;
    height: 100px;
  }
}
/* mobile links */
.mobile-links {
  display: none;
}


.mobile-nav {
  display: none;
}


@media screen and ( max-width: 900px ) {
  body {
    margin-top: 50px !important;
  }
  .tools-content {
    width: 100%;
  }
  .nav-bar #right-side-items {
     display: none;
  }
  .mobile-nav {
    display: inline;
  }
  #logo {
    display: none;
  }
  .nav-bar {
    height: 60px;
    padding: 0;
  }
  .user-form {
    width: 100%;
  }
  .wrapper {
    width: 100%;
    margin: 0;
  }
  .post-wrapper {
   margin-left: 0;
   margin-right: 0;
    width: 100%;
  }

}

@media screen and ( max-width: 600px) {
   body {
     margin: 50px 0 0 0 !important;

   }
   .jumbotron {
     margin: 0;
     width: 100%;
   }
   .blue-wrapper {
     padding: 0;
   }
   .slider {
     width: 300px;
     margin: 0;
   }
  .mobile-links {
    display: inline;
  }
  .tools-content {
    & .col {
      width: 100%;
    }
  }
  .about {
    width: 100%;
    padding: 10px;
  }
  .me-content {
    width: 100%;
    margin: 0;

  }

  .portfolio div {
    float: none;
    width: 100%;

  }
  .portfolio p {
    width: 100%;

  }
  .container {
    margin: 0;
  }
  .sub-footer ul {
    width: 100%;
  }


  ul {
    height: 100%;

  }

}

/* hamburger menu */

.menu-btn {
  padding: 15px;
}
.menu-btn div {
  position: absolute;
  margin-top: -0.5em;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 200;
  vertical-align: middle;
  z-index: 99;
}
.menu-btn span {
  display: block;
  width: 29px;
  height: 3px;
  margin: 4px 0;
  background: white;
  z-index: 99;
}
.responsive-menu {
  display: none;

  background: $light-blue;
  li {
    text-align: center;

  }
  a {
    display: block;
    padding: 10px;
    color: $indigo;
  }
  a:hover {
    background-color: $dark-blue;
    color: white;
    transition: background-color 0.3s;
  }
}
.expand {
  display: block !important;

}
