<footer>
  <div class="sub-footer">
    <p>Find me at: </p>
    <br>
    <ul>
      <li><%= link_to 'Linkdin', "https://www.linkedin.com/in/norman-chan-727438124" %></li>
      <li><%= link_to 'Github', "https://github.com/slowmanchan" %></li>
      <li><%= link_to 'Stack Overflow', 'http://stackoverflow.com/users/6262955/norman-chan' %></li>
    </ul>
  </div>
  <div class="main-footer">
    <p>Copyright &copy; www.normanchan.ca 2016<p>
    </div>
</footer>
